[submodule "stf_lib"]
	path = stf_lib
	url = https://github.com/sparcians/stf_lib.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "jn.mavis"]
	path = jn.mavis
	branch = jeffnye-gh/restore_nlohmann
	url = https://github.com/jeffnye-gh/jn.mavis.git
